@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Tulpen+One&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    background-color: #050816;
    color: white;
}

main{
    width: 80%;
    margin: auto;
}

section{
    border-top: 1px solid;
    border-image: linear-gradient(to right, rgb(35, 174, 187), darkorchid) 1;
}

.font{
    font-family: 'Tulpen One', cursive;
    font-size: 3em;
}

.name{
    font-family: 'Tulpen One', cursive;
    font-size: 2em;
    color: rgb(35, 174, 187) ;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}

.menu-items{
    text-decoration: none;
    color: #915EFF;
    font-weight: bold;
}

.menu-items:hover{
    border-bottom: #683ec4 1px solid;
    color: #683ec4;
    transition: 0.3s ease;
}

.landing{
    height: 50vh;

}

.adds{
    display: flex;
    justify-content: space-between;
}
.add{
    width: 25%;
    border-radius: 10px;
    border: 1px solid;
    border-image: linear-gradient(to right, rgb(35, 174, 187), darkorchid) 1;
    background-color: #1D1836;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.add:hover{
    transform: scale(1.05);
    background-color: #251f43;
    transition: 0.3s ease;
}
.inline-title{
    display: flex;
    justify-content: space-around;
    font-weight: bold;

}

.place{
    font-weight: bold;
}
.miniature{
    width: 100%;
}

.contact{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.input {
    background-color: #000000;
    padding: 10px;
    border: 1px solid;
    border-image: linear-gradient(to right, rgb(35, 174, 187), darkorchid) 1;
    border-radius: 10px;
    color: white;
}

.input-submit{
    background:  rgb(35, 174, 187);
    box-shadow: inset 20px 20px 35px darkorchid;
    padding: 10px;
    border-radius: 25px;
    color: white;
    border: none;
    margin-top: 10px;
    font-weight: bold;
}

.input-submit:hover{
    background:  darkorchid;
    box-shadow: inset 20px 20px 35px rgb(35, 174, 187) ;
    transition: 0.3s ease;
}

.input:focus{
    outline: none;
    box-shadow: 0 0 10px rgb(35, 174, 187);
    transition: 0.3s ease;
}

/* Media Queries */

@media screen and (max-width: 768px){
    .menu{
        width: 45%;
        flex-direction: column;
        border-left: 1px solid;
        border-image: linear-gradient(to right, rgb(35, 174, 187), darkorchid) 1;
    }
    .landing{
        height: 30vh;
    }
    .adds{
        flex-direction: column;
    }
    .add{
        width: 80%;
        margin-right: 50px;
    }
    .contact{
        width: 100%;
    }
}